@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {

    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.clue {
    font-size: 70%;

}

input {
    display: block;
}

input[type='radio'],
input[type='checkbox'] {
    transform: scale(1.3);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
    opacity: 40%;
    font-size: 15px;
}

input[type="text"],
input[type="number"],
#dropdown,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0 20px 0;
}

#dropdown {
    display: block;
}

#display-block input,
#checkboxes input {
    display: inline;
}

#submit {
    display: block;
}

.suvery-container {
    background: rgba(27, 27, 50, 0.8);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

#description {
    font-style: italic;
}

#title {
    display: flex;
    align-self: center;
    justify-content: center;
}

.thank-you {
    font-size: larger;
}

#submit{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #37AF65;
    color: white;
    padding: 15px;
    border-radius: 2px;
    justify-content: center;
    font-size: 20px;
}

@media(max-width: 764px){
    #title{
        font-size: 25px;
    }
    .thank-you{
        font-size: 15px;
    }

}
select option{
    font-size: 20px;
}@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {

    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.clue {
    font-size: 70%;

}

input {
    display: block;
}

input[type='radio'],
input[type='checkbox'] {
    transform: scale(1.3);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
    opacity: 40%;
    font-size: 15px;
}

input[type="text"],
input[type="number"],
#dropdown,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0 20px 0;
}

#dropdown {
    display: block;
}

#display-block input,
#checkboxes input {
    display: inline;
}

#submit {
    display: block;
}

.suvery-container {
    background: rgba(27, 27, 50, 0.8);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

#description {
    font-style: italic;
}

#title {
    display: flex;
    align-self: center;
    justify-content: center;
}

.thank-you {
    font-size: larger;
}

#submit{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #37AF65;
    color: white;
    padding: 15px;
    border-radius: 2px;
    justify-content: center;
    font-size: 20px;
}

@media(max-width: 764px){
    #title{
        font-size: 25px;
    }
    .thank-you{
        font-size: 15px;
    }

}
select option{
    font-size: 20px;
}